{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
<!-- Header End -->
<!-- Main -->
<main>
  <!-- Page Title -->
  <section class="parallax effect-section page-heading" style="background-image: url(static/img/home-banner-1.jpg);">
    <div class="mask bg-black opacity-8"></div>
    <div class="container position-relative">
      <div class="row align-items-center justify-content-center min-vh-40">
        <div class="col-lg-8 text-center">
          <h1 class="display-6 text-white m-0">About Us</h1>
          <ol class="breadcrumb light mb-0 mt-3 justify-content-center">
            <li class="breadcrumb-item">
              <a href="#">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">About Us</li>
          </ol>
        </div>
      </div>
    </div>
  </section>
  <!-- End Page Title -->
  <!-- Section -->
  <section class="section">
    <div class="container">
      <div class="row g-3">
        <div class="col-lg-4 pe-xxl-8">
          <div class="card mb-4">
            <div class="card-header">
              <h5 class="text-center mb-3">Nancy Boutique</h5>
            </div>
            <div class="card-body text-center">
              <div class="avatar avatar-xl rounded-circle">
                <img src="static/img/avatar-1.jpg" title="" alt="" />
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
              <div class="nav justify-content-center">
                <a class="icon icon-sm icon-primary rounded-circle mx-1" href="#"><i class="fab fa-facebook-f"></i></a>
                <a class="icon icon-sm icon-primary rounded-circle mx-1" href="#"><i class="fab fa-twitter"></i></a>
                <a class="icon icon-sm icon-primary rounded-circle mx-1" href="#"><i class="fab fa-instagram"></i></a>
                <a class="icon icon-sm icon-primary rounded-circle mx-1" href="#"><i class="fab fa-linkedin-in"></i></a>
              </div>
            </div>
          </div>
          <div class="card mb-4">
            <div class="card-header">
              <h5 class="text-center mb-3">Jennifer Winget</h5>
            </div>
            <div class="card-body text-center">
              <div class="avatar avatar-xl rounded-circle">
                <img src="static/img/avatar-6.jpg" title="" alt="" />
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
              <div class="nav justify-content-center">
                <a class="icon icon-sm icon-primary rounded-circle mx-1" href="#"><i class="fab fa-facebook-f"></i></a>
                <a class="icon icon-sm icon-primary rounded-circle mx-1" href="#"><i class="fab fa-twitter"></i></a>
                <a class="icon icon-sm icon-primary rounded-circle mx-1" href="#"><i class="fab fa-instagram"></i></a>
                <a class="icon icon-sm icon-primary rounded-circle mx-1" href="#"><i class="fab fa-linkedin-in"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8">            
          <article>
            <form method="post">
                {% csrf_token %}
                <div class="col-md-4">
                  <label class="" for="id_title">Title:</label>
                  <input type="text"  class="form-control bg-gray-100" name="{{form.title.name}}" value="{{form.title.value}}" id="id_title" />
                </div></br>

                <div class="col-12">
                  <label class="" for="id_content">Content:</label>
                  <textarea class="form-control bg-gray-100" rows="5" name="{{form.content.name}}" id="id_content">{{form.content.value}}</textarea>
                </div></br>

                <div class="col-12">
                  <div class=""><!--form-check-->
                    <label class="" for="flexCheckDefault">Status: </label>
                    <input class="" type="checkbox"  name="{{form.status.name}}" id="flexCheckDefault" {% if form.status.value %}checked{% endif %} />
                  </div>
                </div></br>

                <div class="col-12">
                   <div class="mb-3">
                        <label for="{{ form.category.id_for_label }}">
                         Category: 
                        </label>{{ form.category }}
                    </div>
                </div></br>

                <div class="col-12">
                  <label class="" for="id_published_date">published_date:</label>
                  <input type="datetime-local" id="id_published_date" name="{{form.published_date.name}}" value="{% if form.published_date.value %}{{form.published_date.value|date:'Y-m-d\\TH:i'}}{% endif %}" class="form-control" />
                </div></br>
        
                <div class="col-12">
                  <input type='submit' value='Save'>
                </div>
            </form>

            <!--<h4>Our History</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <div class="owl-carousel owl-nav-rounded" data-nav-dots="false" data-nav-arrow="true" data-center="true" data-items="2" data-lg-items="2" data-md-items="1" data-sm-items="1" data-xs-items="1" data-space="10" data-autoplay="true">
              <div class="pt-3">
                <img src="static/img/blog-1.jpg" title="" alt="" />
              </div>
              <div class="pt-3">
                <img src="static/img/blog-2.jpg" title="" alt="" />
              </div>
              <div class="pt-3">
                <img src="static/img/blog-3.jpg" title="" alt="" />
              </div>
            </div>
            <h4>Objective</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <h4>Values</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          -->
          </article>
        </div>
        <div class="col-lg-6 ps-xl-8"></div>
      </div>
    </div>
  </section>
  <!-- End Section -->
</main>
<!-- End Main -->
<!-- Footer -->
{% endblock %}
