{% extends "blog/base.html" %}
    
    <title>{% block title %}post single{% endblock %}</title>
    
{% block content %}
    <a href="{% url 'blog:post-list' %}">back to posts list</a>
    <br>
    <h1>{{object.title}}</h1>
    <hr>
    <small>{{object.author}} - {{object.published_date}}</small>
    <p>{{object.content}}</p>
    <hr>
    {% if request.user.is_authenticated %}
     <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Send comment</button>
     </form>
     {% endif %}
    <hr>
    {% comment %} {% for comment in object.author.comments.all %}

    <p>{{comment.message}}</p>
    {% endfor %} {% endcomment %}
    
    <hr>
    <br>
    {% for comment in object.comments.all %}

    <h5>Comment Author : {{comment.author}}</h5>
    <P><span>Comment Subject: </span> {{comment.subject}}</P>
    <p><span> Comment Content: </span> {{comment.message}}</p>
      <br>
      <br>

    {% endfor %}

{% endblock %}