{% extends 'blog/base.html' %}
{% load static %}
<!-- Header End -->
<!-- Main -->
{% block content %}

<!-- Section -->
<section class="section">
  <div class="container">
    <div class="row g-3">
      <div class="col-lg-8">
        
        <div class="row g-3 g-xxl-4">
          {% for post in posts %}
          
          <div class="col-sm-6">
            <div class="card shadow-hover link-effect-box hover-box-opacity">
              <div class="position-relative">
                {% if post.image%}
                    <a href="#"><img src="{{post.image.url}}" title="" alt="" class="card-img-top" /></a>
                {% else %}
                    <a href="#"><img src="{% static 'img/default-post.jpg' %}" alt="{{ post.title }}"></a>
                {% endif %}
                <div class="position-absolute bg-primary py-2 px-3 top-0 start-0 mt-3 ms-3 rounded-3 shadow text-white font-w-500 small hover-box-opacity-in">
                  <i class="bi bi-calendar-date me-2"></i>{{post.published_date}}
                </div>
              </div>
              <div class="card-body">
                  {% if post.author == request.user %}
                  <div class="nav mb-2">
                      <p><a href="{% url 'blog:post-edit' pk=post.id %}"><h6><span>Edit</span></h6></a></p>
                  </div>
                  <div class="nav mb-2">
                      <p><a href="{% url 'blog:post-delete' pk=post.id %}"><h6>Delete</h6></a></p>
                  </div>
                  {% endif %}
                  <div class="nav mb-2">
                  <a class="text-reset" href="{% url 'blog:post-list' %}?category={{post.category.slug}}">{{post.category.name}}</a>
                </div>
                <h4 class="h5 mb-3"><a class="text-reset link-effect-in" href="{% url 'blog:post-detail' pk=post.id %}">{{post.title|truncatechars:15}}</a></h4>
                <p class="m-0">{{post.content|truncatechars:15}}</p>
                
              </div>
              <div class="card-footer border-top">
                <div class="d-flex align-items-center">
                  <div class="avatar avatar-sm rounded-circle">
                    <img src="{% static 'img/avatar-1.jpg' %}" title="" alt="" />
                  </div>
                  <div class="col ps-3 font-w-500 dark-link">
                    
                    <a href="{% url 'blog:post-list' %}?author={{post.author.id}}">{{post.author}}</a>
                  </div>
                  <a class="text-reset" href="#"><i class="bi bi-three-dots"></i></a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
  
          <!-- pagination -->
          <div class="col-12 pt-3">
            <ul class="pagination justify-content-center">
              {% if page_obj.has_previous %}
                  <li>
                    <a href="?{% if query_params %}{{ query_params }}&{% endif %}page=1">
                        first &laquo;</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="?{% if query_params %}{{ query_params }}&{% endif %}page={{ page_obj.previous_page_number }}"tabindex="-1">
                    <i class="fas fa-chevron-left"></i></a>
                  </li>
              {% endif %}

              {% for i in page_obj.paginator.page_range %}
              {% if page_obj.number == i %}
                  <li class="page-item active">
                      <a class="page-link"
                        href="?{% if query_params %}{{ query_params }}&{% endif %}page={{ i }}">
                          {{ i }}
                      </a>
                  </li>
              {% else %}
                  <li class="page-item">
                      <a class="page-link"
                        href="?{% if query_params %}{{ query_params }}&{% endif %}page={{ i }}">
                          {{ i }}
                      </a>
                  </li>
              {% endif %}
              {% endfor %}
             
              {% if page_obj.has_next %}
                  <li class="page-item">
                    <a class="page-link" href="?{% if query_params %}{{ query_params }}&{% endif %}page={{ page_obj.next_page_number }}">
                      <i class="fas fa-chevron-right"></i></a>
                  </li>      
                  <li>
                    <a href="?{% if query_params %}{{ query_params }}&{% endif %}page={{ page_obj.paginator.num_pages }}">
                      &raquo; last</a>
                  </li>         
              {% endif %}
            </ul>
          </div>
          <!-- End pagination -->
        </div>
        
      </div>
      <!-- Sidebar -->
      <div class="col-lg-4 ps-xxl-8">
        <div class="card mb-4">
          <div class="card-header">
            <h5 class="text-center mb-3">Search</h5>
            <span class="d-block w-40px h-4px bg-primary mx-auto rounded-3"></span>
          </div>
          <div class="card-body text-center">
            <form>
              <div class="d-flex flex-row">
                <input type="email" class="form-control me-md-2" placeholder="Enter your username" />
                <button class="btn btn-primary flex-shrink-0" type="submit"><i class="bi bi-search"></i></button>
              </div>
            </form>
          </div>
        </div>
        <div class="card mb-4">
          <div class="card-header">
            <h5 class="text-center mb-3"><a href="{% url 'blog:post-list' %}?author=me">My Posts</a><!--About BlogMe--></h5>
            <span class="d-block w-40px h-4px bg-primary mx-auto rounded-3"></span>
          </div>
          <div class="card-body text-center">
            <p><a href="{% url 'blog:post-create' %}">Create New Post</a><!--Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.--></p>
            <div class="nav justify-content-center">
              <a class="icon icon-sm icon-primary rounded-circle mx-1" href="#"><i class="fab fa-facebook-f"></i></a>
              <a class="icon icon-sm icon-primary rounded-circle mx-1" href="#"><i class="fab fa-twitter"></i></a>
              <a class="icon icon-sm icon-primary rounded-circle mx-1" href="#"><i class="fab fa-instagram"></i></a>
              <a class="icon icon-sm icon-primary rounded-circle mx-1" href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>
        <div class="card mb-4">
          <div class="card-header">
            <h5 class="text-center mb-3">Popular Posts</h5>
            <span class="d-block w-40px h-4px bg-primary mx-auto rounded-3"></span>
          </div>
          <div class="card-body">
            <div class="d-flex py-3">
              <div class="avatar avatar-lg rounded-circle">
                <img src="{% static 'img/avatar-1.jpg' %}" title="" alt="" />
              </div>
              <div class="col ps-3">
                <h6 class="font-w-600 mb-1"><a class="text-reset link-effect" href="#">Markdown Language Sample Blog Post Styling</a></h6>
                <small>29 March 2021</small>
              </div>
            </div>
            <div class="d-flex py-3">
              <div class="avatar avatar-lg rounded-circle">
                <img src="{% static 'img/avatar-1.jpg' %}" title="" alt="" />
              </div>
              <div class="col ps-3">
                <h6 class="font-w-600 mb-1"><a class="text-reset link-effect" href="#">Markdown Language Sample Blog Post Styling</a></h6>
                <small>29 March 2021</small>
              </div>
            </div>
            <div class="d-flex py-3">
              <div class="avatar avatar-lg rounded-circle">
                <img src="{% static 'img/avatar-1.jpg' %}" title="" alt="" />
              </div>
              <div class="col ps-3">
                <h6 class="font-w-600 mb-1"><a class="text-reset link-effect" href="#">Markdown Language Sample Blog Post Styling</a></h6>
                <small>29 March 2021</small>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-4">
          <div class="card-header">
            <h5 class="text-center mb-3">Top Categories</h5>
            <span class="d-block w-40px h-4px bg-primary mx-auto rounded-3"></span>
          </div>
          <div class="card-body">
            <ul class="list-unstyled list-type-01 primary-link font-w-500">              
              <li>
                <i class="bi bi-chevron-right text-primary"></i>
                
                <a class="d-flex" href="#">Lifestyle <span class="ms-auto font-w-400 text-body">(19)</span></a>
              </li>               
              <li>
                <i class="bi bi-chevron-right text-primary"></i>
                <a class="d-flex" href="#">Inspiration <span class="ms-auto font-w-400 text-body">(10)</span></a>
              </li>
              <li>
                <i class="bi bi-chevron-right text-primary"></i>
                <a class="d-flex" href="#">Fashion <span class="ms-auto font-w-400 text-body">(5)</span></a>
              </li>
              <li>
                <i class="bi bi-chevron-right text-primary"></i>
                <a class="d-flex" href="#">Politic <span class="ms-auto font-w-400 text-body">(25)</span></a>
              </li>
              <li>
                <i class="bi bi-chevron-right text-primary"></i>
                <a class="d-flex" href="#">Trending <span class="ms-auto font-w-400 text-body">(45)</span></a>
              </li>
              <li>
                <i class="bi bi-chevron-right text-primary"></i>
                <a class="d-flex" href="#">Culture <span class="ms-auto font-w-400 text-body">(12)</span></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="card mb-4">
          <div class="card-header">
            <h5 class="text-center mb-3">Newsletter</h5>
            <span class="d-block w-40px h-4px bg-primary mx-auto rounded-3"></span>
          </div>
          <div class="card-body">
            <h6 class="text-center font-w-500">Join 70,000 subscribers!</h6>
            <form>
              <div class="d-flex flex-column mb-2">
                <input type="email" class="form-control mb-2" placeholder="Enter your email" />
                <button class="btn btn-primary flex-shrink-0" type="submit">Get Started</button>
              </div>
              <p class="small m-0 text-center">
                By signing up, you agree to our <a href="#">Privacy Policy</a>
              </p>
            </form>
          </div>
        </div>
        <div class="card mb-4">
          <div class="card-header">
            <h5 class="text-center mb-3">Popular Tags</h5>
            <span class="d-block w-40px h-4px bg-primary mx-auto rounded-3"></span>
          </div>
          <div class="card-body">
            <div class="nav tag-style">
              <a href="#">Fashion</a>
              <a href="#">Travel</a>
              <a href="#">Nature</a>
              <a href="#">Sport</a>
              <a href="#">Weather</a>
              <a href="#">Trends</a>
              <a href="#">Gear</a>
              <a href="#">Lifestyle</a>
              <a href="#">Technology</a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="owl-carousel owl-nav-rounded-sm" data-nav-dots="false" data-nav-arrow="true" data-center="true" data-items="1" data-lg-items="1" data-md-items="1" data-sm-items="1" data-xs-items="1" data-space="10" data-autoplay="true">
              <a href="#"><img class="rounded-3" src="{% static 'img/blog-10.jpg' %}" title="" alt="" /></a>
              <a href="#"><img class="rounded-3" src="{% static 'img/blog-10.jpg' %}" title="" alt="" /></a>
            </div>
          </div>
        </div>
      </div>
      <!-- End Sidebar -->
    </div>
  </div>
</section>
<!-- End Section -->

<!-- End Main -->
{% endblock %}
